In [ ]:
# CLEANING EMPTY CELL USING THE dropna () this will return a new dataframe but would change the orinanal
import pandas as pd

df = pd.read_csv('jamb.csv')

new_df = df.dropna()

print(new_df.to_string())

In [ ]:
#If you want to change the original DataFrame, use the inplace = True argument: Remove all rows with NULL values using the dropna()
import pandas as pd

df = pd.read_csv('jamb.csv')

df.dropna(inplace = True)

print(df.to_string())

In [ ]:
import pandas as pd

df = pd.read_csv('jamb.csv')

print(df.duplicated())

In [ ]:
#replacing a null value with a mean value in a specify column
import pandas as pd

df = pd.read_csv('jamb.csv')

df["columname"].fillna(1, inplace = True)

In [ ]:
#replacing a null value in the entire table with a value 1
import pandas as pd

df = pd.read_csv('music.csv')

df.fillna(1, inplace = True)

In [ ]:
# replace a null value with mean value of a certain column
import pandas as pd

df = pd.read_csv('jamb.csv')

x = df["studyhours"].mean()

df["studyhour"].fillna(x, inplace = True)

In [ ]:
#Calculate the MEDIAN, and replace any empty values with it:
import pandas as pd

df = pd.read_csv('jamb.csv')

x = df["studyhours"].median()

df["studyhour"].fillna(x, inplace = True)

In [ ]:
# calculate mode and replace any empty values with it
import pandas as pd

df = pd.read_csv('jamb.csv')

x = df["assignment"].mode()[0]

df["assignment"].fillna(x, inplace = True)

In [ ]:
import pandas as pd

df = pd.read_csv('jamb.csv')

print(df.duplicated())

In [ ]:
# this is to drop rows that 
import pandas as pd

df = pd.read_csv('jamb.csv')

df.drop_duplicates(inplace = True)

print(df.to_string())

In [ ]:
import pandas as pd

df = pd.read_csv('jamb.csv')

df.replace(0, '', inplace = True)

print(df.to_string())